<template>
  <v-app>
    <v-layout row wrap>
       <v-flex sm4 offset-sm4>
        <v-card id="login_card">
          <v-card-media height="200px" v-bind:src="login.organizationLogo.logo" contain>
          </v-card-media>
          <v-card-title primary-title>
              <v-flex xs12>
                <v-text-field
                  :label="login.userName.label"
                  :prepend-icon="login.userName.icon"
                  :rules="usernameRules"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-text-field
                  :type="login.password.type"
                  :label="login.password.label"
                  :prepend-icon="login.password.icon"
                  :rules="passwordRules"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-checkbox
                v-model="rememberMe"
                :label="login.rememberCheckbox.label"
                color="info"
                ></v-checkbox>
              </v-flex>

              <v-flex xs12>
                 <v-btn color="info" >Log In</v-btn>
              </v-flex>

              <v-flex xs6>
                 <a href="#">Register </a>
              </v-flex>
              <v-flex xs6>
                 <a href="#">Forgot Password?</a>
              </v-flex>

          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import '@/assets/login_model/loginModel.css'
import {login} from '@/assets/login_model/loginModel.js'
export default{
  data: () => ({
    valid: true,
    username: '',
    usernameRules: [
      v => !!v || 'Username is required',
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Password is required'
    ],
    rememberMe: false
  }),
  computed: {
    login () {
      return login
    }
  }
}
</script>
